<% flash.each do |key, v| %>
    <p style='color: red'> <%= v %></p>
<%end%>
<h1>Sign In</h1>

<%= form_with model: @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign in" %>
<%end%>
<br></br>
<br></br>
<%= button_to "Create an Account Instead", {controller: "users", action: "new" }, method: :get %>
