<div class="bg">
<div class="text">
<h1 style="text-align:center;"><%=@part.name%></h1>
</div>
<hr/>
<div class="text">
<br></br>
<p style="text-align:center;"><img src="<%=@part.image_url%>" alt="" width="150" height="150"></p>
<br></br>
<p style="text-align:center;"><%=@part.description%></p>
<br></br>
<p style="text-align:center;">$<%=@part.costs%> | <%= link_to "Amazon", @part.link %> | <%=@part.rating%>/5 <img src="https://www.pinclipart.com/picdir/big/3-36229_shaded-yellow-star-clip-art-star-transparent-background.png" alt="" width="18" height="18" class="t-image"></p>
<br></br>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>