<div class="bg">
<div class="text">
<h1><%=@part.name%></h1>
</div>
<hr/>
<div class="text">
<br></br>
<img src="<%=@part.image_url%>" alt="" width="150" height="150">
<br></br>
<p><%=@part.description%></p>
<br></br>
<p>$<%=@part.costs%> | <%= link_to "Amazon", @part.link %></p>
<br></br>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>