<div class="bg">
<div class="text">
<% if flash[:errors] %>
<% flash[:errors].each do |e|%>
    <li style="color:red"><%= e %></li>
<%end%>
<%end%>
<h1>Revise Setup</h1>
</div>
<hr/>
<div class="text">
<div class="edit">
<%= form_for @setup do |f| %>
    Setup Name: <%= f.text_field :name, size: "30"%>
    <br>
    <%= select "graphic", "id", @graphiccards.map{|g| [g.description, g.id]}, {}, data: { behavior: 'category_dropdown' }%><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "cpu", "id", @cpus.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "ram", "id", @rams.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "mother", "id", @mothers.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "ssd", "id", @ssds.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "power", "id", @powers.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "monitor", "id", @monitors.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "mouse", "id", @mouses.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "keyboard", "id", @keyboards.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' } %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "tower", "id", @towers.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }%><div style="height:5px;font-size:1px;">&nbsp;</div>
    <%= select "fan", "id", @fans.map{|c| [c.description, c.id]}, {}, data: { behavior: 'category_dropdown' }  %><div style="height:5px;font-size:1px;">&nbsp;</div>
    <br>
    <%= f.submit %>
<% end %>
</div>
<br></br>
<br></br>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>