<div class="bg">
<div class="text">
<% flash.each do | key, v | %>
    <p style='color: green '> <%= v %> </p>
    <%end %>
<h1><%=@setup.name%></h1>
</div>
<hr/>
<div class="text">
<%@parts.each do |p|%>
    <a style="padding-top: 1px;padding-bottom: 1px;"href= <%=part_path(p)%>"<button type="button" class="btn btn-outline-dark btn-sm""><%=p.name%></button></a>
    <div style="height:4px;font-size:1px;">&nbsp;</div>
<%end%>
<br>
<div class="box">Total Cost: $<%=@setup.total_cost%></div>
<br>
<a href="/setups/<%=@setup.id%>/edit"<button type="button edit" class="btn btn-outline-dark btn-sm">Edit Setup</button></a>
<a href="/setups/<%=@setup.id%>" onclick="return confirm('Are you sure?')"<button type="button edit" class="btn btn-outline-dark btn-sm" data-method="delete" >Delete Setup</button></a>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>